* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  background: url("/public/images/background.png");
  background-size: cover, cover;
  background-position: center, center;
  background-blend-mode: normal;
  color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  /* padding-top: 30vh; */
}

.container {
  text-align: center;
  padding: 2rem;
}

.content {
  padding-top: 21vh;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.content p {
  font-size: 1.125rem;
  color: #a5f1ff;
  margin-bottom: 2rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-top-color: #a5f1ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.videoDiv {
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 100%;
  overflow: hidden;
  width: 39rem;
}

.videoDiv .videoIcon {
  position: static;
  width: 40rem;
  border-radius: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

/* .videoIcon {
  width: 100px;
  position: absolute;
  bottom: -5px;
  right: -5px;
} */

.shimmer {
  background: linear-gradient(135deg, #ffffff, #2a9db2, #ffffff);
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .content {
    padding-top: 0;
  }
  .spinner {
    display: none;
  }
  .videoDiv {
    width: 79vw;
  }
  .videoDiv .videoIcon {
    width: 80vw;
  }
}
